.text {
  padding-left: 20px;
  padding-right: 20px;
}

#wrap{
  width: 1220px;
  background-color: #EDEFF0;
  @extend %margin-auto;
  margin-top: 10px;
  overflow: auto;
  padding: 20px;
  padding-bottom: 5px;
}
